---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->
  <section class="px-2 sm:px-2 mx-auto max-w-6xl">
    <HeroText tagline="Contact" title="お問い合わせ先" />

    <!-- Features2 Widget ************** -->

    <Features2
      items={[

        {
          title: 'Eメール',
          description: '<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#114;&#46;&#115;&#97;&#103;&#97;&#64;&#111;&#109;&#117;&#46;&#97;&#99;&#46;&#106;&#112;">&#114;&#46;&#115;&#97;&#103;&#97;&#64;&#111;&#109;&#117;&#46;&#97;&#99;&#46;&#106;&#112;</a><br>クリックするとメールソフトが立ち上がります。',
          icon: 'tabler:mail',
        },
        {
          title: '場所',
          description: '〒599-8531 大阪府堺市中区学園町1番1号<br>(学内: C4棟3階)',
          icon: 'tabler:map-pin',
        },
      ]}
    />
  </section>
</Layout>
