---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ResearchAreas from '~/components/widgets/ResearchAreas.astro';

const metadata = {
  title: 'SagaLab - 大阪公立大学 佐賀研究室',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <section class="mx-auto max-w-4xl">
    <Hero tagline='SagaLab'
    actions={[
      { text: 'Learn more', href: '#research-areas' },
      ]}
      image={{ src: '~/assets/images/banner-design.svg', alt: 'SagaLab image' }}
      >
      <Fragment slot="title">
        佐賀研究室
      </Fragment>

      <Fragment slot="subtitle">
        <span class="hidden sm:inline">
          私たちは大阪公立大学中百舌鳥キャンパスに所在する研究室です。<br>最適化や機械学習を用いた研究を行っています。
        </span>
      </Fragment>
    </Hero>
    
    <!-- ResearchAreas Widget (Filtered Version with Filter Display) -->
    <ResearchAreas />


    <CallToAction
      actions={[
        {
          variant: 'primary',
          text: '問い合わせ',
          href: '/contact',
          target: '_blank',
          icon: '',
        },
      ]}
    >
      <Fragment slot="title">
        <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">メンバー募集</span>
      </Fragment>

      <Fragment slot="subtitle">
        <br class="hidden md:inline" />これらの分野に興味がある方は、ぜひご連絡ください。
      </Fragment>
    </CallToAction>
  </section>
</Layout>
