---
import Item from '~/components/blog/GridItemOnHome.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<div class="grid gap-6 row-gap-5  -mb-6">
  {posts.map((post) => <Item post={post} />)}
</div>
