---
import type { ItemGrid as Props } from '~/types';
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';
import Button from './Button.astro';

const { items = [], columns, defaultIcon = '', classes = {} } = Astro.props;

const {
  container: containerClass = '',
  // container: containerClass = "sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3",
  panel: panelClass = '',
  title: titleClass = '',
  description: descriptionClass = '',
  icon: defaultIconClass = 'text-primary',
  id = '__',
} = classes;
---

{
  items && items.length > 0 && (
    <div
      class={twMerge(
        `grid gap-8 gap-x-12 sm:gap-y-8 ${
          columns === 4
            ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
            : columns === 3
              ? 'lg:grid-cols-3 sm:grid-cols-2'
              : columns === 2
                ? 'sm:grid-cols-2 '
                : ''
        }`,
        containerClass
      )}
    >
      {items.map((item) => (
        <div
          class={twMerge(
            'relative flex flex-col intersect-once intersect-quarter intercept-no-queue motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade',
            panelClass,
            item.classes?.panel
          )}
          id = {item.id}
        >
          {(item.icon || defaultIcon) && (
            <Icon name={item.icon || defaultIcon} class={twMerge('mb-2 w-10 h-10', defaultIconClass, item.classes?.icon)} />
          )}
          <div class={twMerge('text-xl font-bold', titleClass, item.classes?.title)}>{item.title}</div>
          {item.description && (
            <p class={twMerge('text-muted mt-2', descriptionClass, item.classes?.description)} set:html={item.description} />
          )}
          {item.callToAction && (
            <div class="mt-2">
              <Button {...item.callToAction} />
            </div>
          )}
        </div>
      ))}
    </div>
  )
}
